@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* PRIMARY */

  /* Text */

  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Background gradient */

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* NEUTRAL */

  /* Text */

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */

  --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  background: rgb(100,98,231);
  background: linear-gradient(0deg, rgba(100,98,231,1) 0%, rgba(175,104,234,1) 100%);
}
