/* @import './normalize.css'; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* PRIMARY */

  /* Text */

  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Background gradient */

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* NEUTRAL */

  /* Text */

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */

  --light-grayish-blue: hsl(240, 5%, 91%);
}

html,
body,
main {
  height: 100%;
  width: 100%;

  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
}

body {
  margin: 0px;

  background: linear-gradient(
    180deg,
    var(--soft-violet) 20%,
    var(--soft-blue) 100%
  );
}

main {
  /* max-width: 900px; */
  
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.6em;
  padding-top: 35px;
}

hr {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.5;

  text-align: left;
  margin-left: 0;
}

.card-wrapper {
  width: 64vw;
  height: 66vh;

  background-color: white;
  border-radius: 30px;

  display: flex;
}

.faq-wrapper {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-left: 20px;
}

#bg-pattern-desktop {
  width: 949px;

  position: relative;
  left: -550px;
  top: -656px;
}

#bg-pattern-mobile {
  display: none;
}

#woman-online-desktop {
  width: 108%;

  position: relative;
  left: -88px;
  top: 72px;

  z-index: 1;
}

#woman-online-mobile {
  display: none;
}

#box-desktop {
  position: absolute;
  left: 166px;
  top: 342px;

  z-index: 1;
}

.icon-arrow-down {
  width: 12px;
  padding: 5px;

  cursor: pointer;
}

.icon-arrow-up {
  width: 12px;
  padding: 5px;

  cursor: pointer;

  transform: rotate(180deg);
}

.faq-question-1,
.faq-question-2,
.faq-question-3,
.faq-question-4,
.faq-question-5 {
  font-size: 15px;
  color: var(--very-dark-grayish-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;

  padding: 10px 0;
}

.hidden {
  width: 80%;

  font-size: 14px;
  display: none;

  margin-bottom: 10px;
  color: var(--dark-grayish-blue);
}

.strong-question {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.divider {
  width: 80%;
}

.show-mobile {
  display: none;
}

/* RESPONSIVITY */

@media (min-width: 1440px) {
  .image-wrapper {
    width: 50%;

    overflow: hidden;
  }
}

@media (max-width: 375px) {
  .card-wrapper {
    width: 327px;
    height: 535px;

    position: absolute;
    bottom: 85px;
  }

  .faq-wrapper {
    width: 100%;
    padding-right: 20px;
    padding-top: 80px;
  }

  .faq-title {
    display: flex;
    justify-content: center;
  }

  .faq-question-1,
  .faq-question-2,
  .faq-question-3,
  .faq-question-4,
  .faq-question-5 {
    font-size: 13px;
    color: var(--very-dark-grayish-blue);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 10px 0;
  }

  .divider {
    width: 100%;
  }

  #woman-online-mobile {
    position: absolute;
    display: block;
    top: -111px;
    width: 245px;
    left: 37px;
    z-index: 1;
  }

  #bg-pattern-mobile {
    position: absolute;
    display: block;
    top: -5px;
    left: 26px;
    width: 260px;
  }

  #woman-online-desktop {
    display: none;
  }

  #bg-pattern-desktop {
    display: none;
  }

  #box-desktop {
    display: none;
  }
}
