@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* PRIMARY */

  /* Text */

  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);

  /* Background gradient */

  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  /* NEUTRAL */

  /* Text */

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */

  --light-grayish-blue: hsl(240, 5%, 91%);
}

html,
body,
main {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(
    180deg,
    var(--soft-violet) 20%,
    var(--soft-blue) 100%
  );
}

main {
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  width: 64vw;
  height: 66vh;

  background-color: white;
  border-radius: 30px;

  display: flex;
}

.image-wrapper {
  width: 50%;
}

.faq-wrapper {
  width: 50%;
}
